@model YungChingProgram.ViewModels.ColumnCRUDViewModel
<div class="row form-horizontal form-label-left" style="margin-bottom:8px;">
    <label class="control-label col-md-2 col-sm-2 col-xs-12" style="font-size:16px;">
        姓名
    </label>
    <div class="col-md-2 col-sm-2 col-xs-12">
        <input class="form-control" id="queryName" name="queryName" />
    </div>
</div>
<div class="row form-horizontal form-label-left" style="margin-bottom:8px;">
    <label class="control-label col-md-2 col-sm-2 col-xs-12" style="font-size:16px;">
        類別
    </label>
    <div class="col-md-2 col-sm-2 col-xs-12">
        @Html.DropDownListFor(model => model.TypeSelectList, Model.TypeSelectList, new { id = "queryType", @class = "form-control " })
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">
        <button type="button" class="btn btn-primary" onclick="GetDataList()">查詢</button>
    </div>
</div>
<div class="x_content">
    <div class="row">
        <div class="col-sm-12" style="text-align:center;">
            <div style="overflow:scroll;">
                <table id="dataTable" class="table" style="word-break: keep-all;width:auto; height:100px; text-align:center" border="1">
                    <thead>
                        <tr>
                            <th>員工代碼</th>
                            <th>員工類別</th>
                            <th>姓名</th>
                            <th>性別</th>
                            <th>電話</th>
                            <th>地址</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                    <tr>
                        <td><input class="form-control" id="InputPid" name="InputPid" /></td>
                        <td>
                            @Html.DropDownListFor(model => model.TypeSelectList, Model.TypeSelectList, new { id = "InputPtype", @class = "form-control " })
                        </td>
                        <td><input class="form-control" id="InputPname" name="InputPname" /></td>
                        <td><input class="form-control" id="InputPsex" name="InputPsex" /></td>
                        <td><input class="form-control" id="InputPtel" name="InputPtel" /></td>
                        <td><input class="form-control" id="InputPaddress" name="InputPaddress" /></td>
                        <td><button type="button" class="btn btn-success" onclick="InsertData()">新增</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<div class="modal fade" id="TipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="TipSpan"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">確認</button>
            </div>
        </div>
    </div>
</div>



<script>

    //取得查詢多筆資料
    function GetDataList() {
        $.ajax({
            url: '@Url.Action("ColumnCRUDPartialView", "ColumnCRUD")',
            data: {
                name: $('#queryName').val(),
                type: $('#queryType option:selected').val()
            },
            type: 'post',
            success: function (data) {
                $('#tbody').html(data);
            }
        })
    }

    //新增一筆資料
    function InsertData()
    {
        console.log("進入");
        $.ajax({
            url: '@Url.Action("InsertColumnCRUDData", "ColumnCRUD")',
            data: {
                Id: $("#InputPid").val(),
                Name: $("#InputPname").val(),
                Sex: $("#InputPsex").val(),
                Tel: $("#InputPtel").val(),
                Type: $("#InputPtype option:selected").val(),
                Address: $("#InputPaddress").val(),
            },
            type: 'post',
            success: function (data) {
                if (data.result == "true") {
                    $("#TipSpan").text("新增成功");
                    OpenTipModal();
                    GetDataList();
                }
                else if (data.result == "false") {
                    $("#TipSpan").text("新增失敗");
                    OpenTipModal();
                }
                else
                {
                    $("#TipSpan").text(data.result);
                    OpenTipModal();
                }
            }
        })
    }

    function UpdateData(i)
    {

        $.ajax({
            url: '@Url.Action("UpdateColumnCRUDData", "ColumnCRUD")',
            data: {
                Id: $("#columnCRUDData_" + i).find('#Pid').text(),
                Name: $("#columnCRUDData_" + i).find('#Pname').val(),
                Sex: $("#columnCRUDData_" + i).find('#Psex').val(),
                Tel: $("#columnCRUDData_" + i).find('#Ptel').val(),
                Type: $("#columnCRUDData_" + i).find('#Ptype option:selected').val(),
                Address: $("#columnCRUDData_" + i).find('#Paddress').val(),
            },
            type: 'post',
            success: function (data)
            {
                if (data.result == "true") {
                    $("#TipSpan").text("修改成功");
                    GetDataList();
                    OpenTipModal();
                }
                else if (data.result == "false") {
                    $("#TipSpan").text("修改失敗");
                    OpenTipModal();
                }
                else {
                    $("#TipSpan").text(data.result);
                    OpenTipModal();
                }
            }
        })
    }

    //顯示Dialog提示
    function OpenTipModal() {
        $('#TipModal').modal("show");
    }
</script>